<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suit2">

<listeners>
<listener class-name="com.companyname.projectname.customelistener.Listner"></listener>
</listeners>
	<test name="Registration">
		<classes>
			<class name="com.companyname.projectname.testscripts.TC002_testRegistraion" />
			<class name="com.companyname.projectname.testscripts.TC002_testRegistraion" />
		</classes>
	</test>
	<test name="RegistrationTest">
		<classes>
			<class name="com.companyname.projectname.testscripts.Test1" />
		</classes>
	</test>
</suite> <!-- Suite -->
